:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
}

@font-face {
    font-family: "Hack";
    src: url("../fonts/hack/");
}

body {
    font-family: 'Hack', monospace;
    font-size: 18px;
    line-height: 1.5;
    background-color: #E9EEF170;
    color: #262621;
    text-shadow: 0 0 10px #26262179;
}

body#aboutPage img {
    height: 15em;
}

body#portfolioPage img {
    border-radius: 2%;
    box-shadow: 0 0 20px #26262179;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Hack', monospace;
}

p {
    max-width: 50em;  
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        display: grid;
        grid-template-areas: "head head"
        "nav main"
        "foot foot";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolioPage ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolioPage ul#portfolioItems li h2:hover, body > nav ul li:hover {
    transform-origin: bottom left;
    transform: scale(1.1);
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: #f54545;
}

@media screen and (min-width: 25em) {
    body#portfolioPage ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolioPage ul#portfolioItems li img {
    max-width: 100%;
}

