body {
    padding-left: 4em;
    font-size: 18px;
    line-height: 1.5;
}

body#aboutPage img {
    height: 15em;
}

body#portfolioPage img {
    height: 25em;
    border-radius: 10%;
    box-shadow: 10px 10px 5px black;
}

h1, h2, h3 {
    line-height: 1.2;
}

p {
    max-width: 50em;  
}